<Template name="Bakt">
	<div id="kState" class="panel">
		<button id="btn_bakt">
			<h1>{{> dapp_identicon identity=baktAddr class="dapp-small"}} Bakt</h1>
		</button>

		<h1>{{dapp_formatBalance fundBalance "0,0.00[0000]" "ether"}}&Xi;</h1>
		<div>
				<button id="btn_payInto" class="">
					<label>Pay Into</label>
				</button>
		</div>
		<div id="totalSupply">
			<label>Total Supply</label>
			{{totalSupply}}
		</div>
		<div id="committedEth">
			<label>Commited</label>
			{{dapp_formatBalance committedEther "0,0.00[0000]" "ether"}}&Xi;
		</div>
		<div id="trustee" class="foot">
			<label>Trustee</label>
			{{> dapp_identicon identity=trustee class="dapp-tiny"}}{{trustee}}
		</div>
	</div>
</Template>

