<Template name="Container">
<div class="bakt-container">
{{> Template.dynamic template=page }}
</div>
<!--     <div  class="bakt-container {{opState}} {{pending}}">
            {{#if hasBakt}}
	            {{> Bakt }}
	            {{> Holder }}
	            {{> PendingTXList}}
	            {{> Events}}
            {{/if}}
    </div>
 --></Template>

<Template name="BaktPanels">
     <div  class="bakt-container {{opState}} {{pending}}">
            {{#if hasBakt}}
	            {{> Bakt }}
	            {{> Holder }}
	            {{> PendingTXList}}
	            {{> Events}}
            {{/if}}
    </div>
</Template>


