<!-- <Template name="Factory">
	<h1>{{> dapp_identicon identity=address class="dapp-small"}}{{version}}</h1>
	{{address}}<br>
	<a href="{{resource}}">{{resource}}</a><br>
	<h3>Fee {{dapp_formatBalance fee "0,0.00[0000]" "ether"}}&Xi;</h3>
	<form>
		<input name="regName" placeholder="Registration Name" />
		{{> dapp_addressInput name="owner" value=holderAddr class="dapp-medium"}}
		<input type="submit" value="Create" />
	</form>
	{{#if isOwner}}
	<h3>Balance {{dapp_formatBalance kBalance "0,0.00[0000]" "ether"}}&Xi;</h3>
	<input type="button" value="Withdraw" />
	{{/if}}
</Template>
 -->