<Template name="Factory">
	<div class="panel">
	<h3>Create A New Bakt</h3>
	<p>{{version}}</p>
	 {{> dapp_identicon identity=address class="dapp-tiny"}}
	<a href="https://{{network}}etherscan.io/address/{{address}}" target="_blank">{{address}}</a>
	<p><a href="{{resource}}">{{resource}}</a></p>
	<p>Creation Fee<br>
	{{dapp_formatBalance fee "0,0.00[0000]" "ether"}}&Xi;</p>
	<p>From account
	{{> dapp_selectAccount accounts=accounts class="dapp_small"}}</p>
	<p>Name<br>
	<input name="regName" placeholder="Name"></p>
	{{#if hasFunds}}
	<input id="btn_ok" type="button" value="Create" {{validName}}/>		
	{{else}}
	Insufficient funds
	{{/if}}
	<input id="btn_cancel" type="button" value="Cancel">
	</div>
</Template>

