<Template name="Holder">
	<div class="panel">
	<h1>{{> dapp_identicon identity=holderAddr class="dapp-small"}} 
		{{#if isHolder}} Holder
		{{else}} Account
		{{/if}}</h1>
		<div id="accountSelect">{{> dapp_selectAccount accounts=accounts class="dapp_small"}}</div>
		<div class="{{showHolder}}">		
 		{{#with holder}}
			<div><label>Tokens</label> {{tokenBalance}}</div>
			<div><label>Ether</label> {{dapp_formatBalance etherBalance "0,0.00[0000]" "ether"}}&Xi;</div>
		{{/with}}
		</div>
		<div class="{{showHolder}}">
		<!-- <div> -->
			<div class="{{inPanicked}}">Can calm after: {{calmTime}}</div>
			<div class="{{notPanicked}} {{isHolder}}">
				<div>
				<button id="btn_transfer" {{hasTokens}}>
					<label>Transfer</label>
				</button>
				<button id="btn_transferFrom" class="">
					<label>Transfer From</label>
				</button>
				<button id="btn_allow" {{hasTokens}}>
					<label>Allow</label>
				</button>
				</div>
				<div>
				<button id="btn_purchase" {{isExpired}}>
					<label>Purchase</label>
				</button>
				<button id="btn_redeem" {{hasTokens}}>
					<label>Redeem</label>
				</button>
				<button id="btn_withdraw" {{hasEther}}>
					<label>Withdraw</label>
				</button>
				<button id="btn_vacate" {{canVacate}}>
					<label>Vacate</label>
				</button>
				</div>
			</div>
			<div class="{{showTrustee}} {{notPanicked}}">
				<div>
				<button id="btn_addHolder" class="">
					<label>Add Holder</label>
				</button>

 				<button id="btn_issue" class="">
 					<label>Issue</label>
 				</button>
 				<button id="btn_revoke" class="">
 					<label>Revoke</label> 					
 				</button>
 				</div>
				<div>
				<button id="btn_execute" class="">
					<label>Execute</label>
				</button>
				<button id="btn_payDividends" class="">
					<label>Pay Dividends</label>
				</button>
 				<button id="btn_destroy" class="{{canDestroy}}">
 					<label>Destroy</label>
 				</button>
				</div>
 			</div>
			<div>
				<div>
				<button id="btn_panic" {{canPanic}}>
					<label>Panic</label>
				</button>
				<button id="btn_calm" {{canCalm}}>
					<label>Calm</label>
				</button>
				</div>
			</div>
		</div>
		<div class="foot {{showHolder}}">
			<label>Voting For</label>
			<button id="btn_vote">
			{{#with holder}}
				{{> dapp_identicon identity=votingFor class="dapp-tiny"}}{{votingFor}}
			{{/with}}
			</button>
		</div>
	</div>

</Template>

