<Template name="ChangeBakt">
	<h3>Bakt Address</h3>
	<form>
		{{> dapp_addressInput name="bakt" value=address class="dapp-medium"}}
		<input type="submit" value="OK"/>		
	</form>
	<p><i>or</i></p>
	<input type="button" id="btn_newBakt" value="Create a New Bakt" />
</Template>

<Template name="Factory">
	<h3>Create A New Bakt</h3>
	{{> dapp_identicon identity=address class="dapp-tiny"}}{{address}}<br>
	{{regName}}<br>
	{{version}}<br>
	<a href="{{resource}}">{{resource}}</a><br>
	Creation Fee: {{dapp_formatBalance fee "0,0.00[0000]" "ether"}}&Xi;
	<div id="accountSelect">From account<br>
	{{> dapp_selectAccount accounts=accounts class="dapp_small"}}</div>
	<form>
		<input name="regName" placeholder="Name"><br>
		{{#if hasFunds}}
		<input id="btn_create" type="submit">
		{{else}}
		Insufficient funds
		{{/if}}
	</form>
</Template>

<Template name="Init">
	<h3>Initialize Bakt</h3>
	Attention: This Bakt is not initialized<br>
	Please enter the time in seconds for the transaction pending and panic periods (1 day == 86400 seconds)<br>
	<strong>This action can only be done once!</strong><br>
	<form>
		<label>Tansaction Pending Period</label>
		<input name="pending" type="number" value="172800"><br>
		<label>Panic Period</label>
		<input name="panic" type="number" value="172800"><br>
		{{#if isTrustee}}
			<input type="submit">
		{{else}}
			Could not find controlling account
		{{/if}}		
	</form>
</Template>

<Template name="ChangeHolder">
	<h3>Select Holder Account</h3>
		{{> dapp_selectAccount accounts=accounts}}
</Template>

<Template name="PayInto">
	<h3>Pay Into Contract</h3>
	<div>
	Use this to send money to this Bakt contract.
	</div>
	<form>
		<input name="ethValue" type="number" placeholder='{{dapp_formatBalance etherBalance "0,0.00[0000]" "ether"}}&Xi;' step="any"/>
		<input type="submit" />
	</form>
</Template>

<Template name="Withdraw">
	<h3>Withdraw</h3>
	Withdraw Ether from your holder account.<br>
	Balance {{dapp_formatBalance etherBalance "0,0.00[0000]" "ether"}}&Xi;
	<form>
		<input type="submit" />
	</form>
</Template>

<Template name="Transfer">
	<h3>Transfer</h3>
	Transfer tokens to another holder.
	<form>
		<label>To</label>
		<select name="addr">
			{{#each addrList}}
				<option value="{{this}}">
					{{> dapp_identicon identity=this class="dapp-small"}}{{this}}
				</option>
			{{/each}}
		</select>
		<label>Amount</label>
		<input id="amount" placeholder="{{tokenBalance}}"/>
		<input type="submit" />
	</form>
</Template>

<Template name="Allow">
	<h3>Allow</h3>
	<form>
		<label>Sender</label>
		{{> dapp_addressInput name="allow" value=address class="dapp-medium"}}

		<label>Amount</label>
		<input name="amount" type="number" placeholder="{{tokenBalance}}" />
		<input type="submit" />
	</form>
</Template>

<Template name="Issue">
	<h3>Issue a Token Offer</h3>
	<form oninput="lotPrice.value=parseFloat(amount.value)*parseFloat({{dapp_formatBalance tokenPrice "0,0.000[0000]" "ether"}})">
		To {{> dapp_addressInput name="account" value=address class="dapp-medium"}}<br>
		Amount: <input name="amount" type="number" step="1" value="0"><br>
		Lot Price: <output name="lotPrice"></output>&Xi;<br>
		Expires: {{expiry}}
		<input type="submit" value="Place Offer"/>
	</form>
</Template>

<Template name="Purchase">
	<h3>Purchase Tokens</h3>
	<form oninput="total.value=parseFloat(amount.value) * {{dapp_formatBalance price "0,0.00[0000]" "ether"}}">
		<div>You have an offer to buy<br>
		{{amount}} tokens <br> 
		for {{dapp_formatBalance price "0,0.00[0000]" "ether"}}&Xi; total</div>
		<div>Offer expires after <br>
		{{expiry}}</div>
		<input type="submit" value="Accept"/>
		<input type="button" value="Cancel"/>
	</form>
</Template>


<Template name="Redeem">
	<h3>Redeem Tokens</h3>
	<form oninput="total.value=parseInt(rAmount.value) * {{dapp_formatBalance rPrice "0,0.00[0000000]" "ether"}}">
		<div>At {{dapp_formatBalance rPrice "0,0.00[0000000]" "ether"}} ether/token</div>
		<label>Amount</label>
		<input name="rAmount" type="number" minimum="0" maximum="{{tokenBalance}}" placeholder="{{tokenBalance}}"/>
		<label for="total">Total</label>

		<output name="total" for="rAmount"></output>&Xi;
		<input type="submit" />
	</form>
</Template>

<Template name="PayDividends">
	<h3>Pay Dividends</h3>
	<form>
		<input name="dividends" type="number" minimum="0" maximum="{{fundBalance}}"
		value={{dapp_formatBalance fundBalance "0,0.00[0000]" "ether"}} step="any"/>
		<input type="submit" value="Pay">
	</form>
</Template>

<Template name="AddHolder">
	<h3>Add Holder</h3>
	<form>
	{{> dapp_addressInput value=holderAddr class="dapp-medium"}}
	<input type="submit" />
	</form>
</Template>

<Template name="Revoke">
 <h3>Revoke Offer</h3>
	<form>
		<select name="holders">
			{{#each addrList}}
				<option value="{{this}}">
					{{> dapp_identicon value=this class="dapp-small"}}{{this}}
				</option>
			{{/each}}
		</select><br>
		Amount: {{amount}}<br>
		Lot Price: {{dapp_formatBalance price "0,0.00[0000]" "ether"}}&Xi;<br>
		Expires: {{expiry}}<br>
 		<input type="submit" value="Revoke">
	</form>
</Template>

<Template name="Execute">
	<h3>Send from Bakt</h3>
	<form>
		<label>Send To</label>
		{{> dapp_addressInput class="dapp-medium"}}
		<label>Value</label>
		<input name="sendValue" id="sendValue" type="number"
			placeholder='{{dapp_formatBalance etherBalance "0,0.00[0000]" "ether"}}&Xi;' step="any"/>
 		<label>Call Data</label>
 		{{> dapp_dataTextarea cols="20" rows="4" value=callData}}
 		<input type="submit" value="Send">
	</form>
</Template>

<Template name="VoteFor">
	<h2>Vote For</h2>
	<form>
		<select name="preference">
			{{#each addrList}}
				<option value="{{this}}">
					{{> dapp_identicon value=this class="dapp-small"}}{{this}}
				</option>
			{{/each}}
		</select>
 		<input type="submit" value="Vote">
	</form>
</Template>


<Template name="Panic">
	<h3>PANIC</h3>
	<strong>WARNING!</strong> This action will freeze functionality of Bakt for a period of {{period}} seconds.
	You <strong>WILL NOT</strong> be able to:
	<ul>
		<li>Withdraw funds</li>
		<li>Allow pending transactions</li>
		<li>Transfer tokens</li>
		<li>Buy or Redeem</li>
		<li>Claim dividends</li>
	</ul>
	You <strong>WILL</strong> be able to:
	<ul>
		<li>Change your vote</li>
		<li>Block pending transactions</li>
		<li>Extend the Panic time</li>
		<li>Pay to contract</li>
	</ul>
	<form>
		<input type="checkbox" name="validation"><label for="validation">Are you sure you want to cause a Panic?</label>
		<input type="submit">
	</form>
</Template>

<Template name="Wait">
	<div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>

</Template>
