<Template name="PendingTXList">
	<div class="{{show}}">
	<div class="panel">
	<h2>Pending Transactions</h2>
	<button id="btn_send"><label>{{clearSend}}</label></button>
	<ul>
	{{#each pendingTXs}}
		<li class="state">
			{{> PendingTX this}}
		</li>
	{{/each}}
	</ul>
	</div>
	</div>
</Template>

<Template name="PendingTX">
		<div class="tx {{sendState}}">	
			{{#unless blocked}}
				<button id="btn_block" data="{{ptxid}}">
					<label><strong>BLOCK</strong></label>
				</button>
			{{/unless}}
			<div>
				<label>Value</label><strong>{{dapp_formatBalance value "0,0.00[0000]" "ether"}}&Xi;</strong>
			</div>
			<div>
				<label>By</label>{{> dapp_identicon identity=from class="dapp-tiny"}}{{from}}
			</div>
			<div>
				<label>To</label>{{> dapp_identicon identity=to class="dapp-tiny"}}{{to}}
			</div>
			<div>
				<label>Data</label>{{data}}
			</div>
			<div>
				<label>After</label>{{timeLock}}
			</div>

		</div>
</Template>